@import "variables";
@import "mixins";

#about {
  height: auto;
  margin-bottom: 30px;
  margin-top: -75px;

  h1 {
    background-color: $color-blue;
    color: #fff;
    padding: 25px 0;
    font-weight: bolder;
  }

  h2 {
    margin: 20px;
    font-size: 2.0rem;
    font-weight: bold;
  }

  h3 {
    margin: 10px;
    text-align: center;
  }

  p {
    margin: 25px auto;
    width: 80%;
  }

  .flex-container {

    div {
      width: 60%;
      display: block;
      margin: 20px auto;

      h3 {
        width: 100%;
        display: block;
        margin: 10px auto;
      }
    }

    img {
      display: block;
    }
  }

  @include tablet-screens {
    margin-top: 0;
    margin-left: 0;

    h1 {
      margin-top: 0;
    }

    p {
      margin: 25px auto;
      width: 50%;
    }

    .flex-container div {
      width: 200px;
      margin: 20px;

      div, h3 {
        margin: 20px;
        width: auto;
      }
    }
  }
}
