@import "variables";
@import "mixins";

.heroimage {
  background: url("/images/heroimage-mob.png") no-repeat center;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  background-size: contain;
  height: 300px;
  margin: -15px 0 0;

  @include tablet-screens {
    width: 100%;
    height: 300px;
    margin: 100px 0 0;
    background: #BAD7E6 url("/images/heroimage.jpg") no-repeat center;
    background-size: contain;
  }

  @include desktop-screens {
    height: 500px;
    margin: 0;
  }
}

section {
  text-align: center;
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
}
