@import "variables";
@import "mixins";

.nav-collapse {
  @include tablet-screens {
    position: relative;
  }

  ul {
    display: none;

    @include tablet-screens {
      width: 100%;
      display: block;
      list-style: none;
      margin: 15px;
      text-align: center;

      li {
        display: inline-block;

        a {
          font-size: 1.2rem;

          @include tablet-screens {
            padding: 0.9rem 1.5em;
            text-align: center;
            font-weight: bold;
            border-top: 0;
            margin: 0;
            width: 100%;
            color: $color-blue;
          }

          @include desktop-screens {
            padding: 1.0rem 1.5em;
          }

          &:active {
            border-bottom: 3px solid $color-orange;
          }

          &:hover {
            border-bottom: 3px solid $color-orange;
          }
        }
      }
    }

    @include desktop-screens {
      text-align: left;
    }
  }
}

.disable-pointer-events {
  pointer-events: none !important;
}

header {
  background: #fff;
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  box-shadow: 0 2px 24px -2px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.logo {
  width: 150px;
  margin: 15px auto;
  display: block;

  @include desktop-screens {
    margin: 15px;
    float: left;
  }
}

#backHomepage {
  @include blue-background;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 0;

  a {
    color: #fff;
  }
}
