$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";

$color-blue: #354575;
$color-dark-blue: #000059;
$color-orange: #F79C71;
$color-grey: #f5f6f7;

$font-family: 'Montserrat', sans-serif;
