
@media only screen and (min-width: 640px) {

  /* ==========================================================================
			4. NAVIGATIE - Alle elementen die bij de navigatie horen.
========================================================================== */

  .nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
    margin: 15px;
    text-align: center;
  }

  .nav-collapse ul li {
    display: inline-block;
    float: none;
  }

  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }

  .logo {
    width: 150px;
    margin: 15px auto 10px auto;
    display: block;
  }

  .nav-collapse a:active,
  .nav-collapse .active a {
    border-bottom: 3px solid $color-orange;
    font-size: 1.5rem;
  }

  .nav-collapse a:hover {
    border-bottom: 3px solid $color-orange;
  }

  .nav-collapse a {
    padding: 1.2rem 1.5em;
    text-align: center;
    border-top: 0;
    margin: 0;
    width: 100%;
    font-size: 1.5rem;
    color: $color-blue;
  }

  #backHomepage {
    display: none;
  }

  .heroimage {
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    background-size: contain;
    height: 300px;
    margin: 100px 0 0;
    background: #BAD7E6 url("/images/heroimage.jpg") no-repeat center;
  }

  /* ==========================================================================
	   6. ABOUT - Alle elementen die bij de ABOUT section horen.
========================================================================== */

  #about p {
    margin: 25px auto;
    width: 50%;
  }

  #about {
    margin-top: 0px;
    margin-left: 0;
  }

  /* Keywords */

  #about .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  #about .flex-container div {
    width: 200px;
    display: block;
    margin: 20px;
  }

  #about .flex-container div div {
    width: auto;
    display: block;
    margin: 20px;
  }

  #about .flex-container div h3 {
    width: auto;
    display: block;
    margin: 20px;
    font-size: 1.5rem;
  }

  /* ==========================================================================
        6. ABOUT - Alle elementen die bij de ABOUT section horen.
  ========================================================================== */

  #services ul {
    text-align: left;
    width: 380px;
    list-style: none;
    padding-right: 20px;
    margin: 0 auto;
    display: block;
    font-size: 1.5rem;
  }

  #services h3 {
    font-size: 2rem;
    color: $color-orange;
    margin-top: 0px;
  }

  /* ==========================================================================
          8. CLIENTS - Alle elementen die bij de CLIENTS section hoort.
  ========================================================================== */

  #clients img {
    padding: 30px 0;
    width: 400px;
    display: block;
  }

  /* ==========================================================================
         9. BLOG - Alle elementen die bij de BLOG section horen.
  ========================================================================== */

  #blog .flex-container .card {
    width: 60vw;
    height: auto;
    overflow-x: hidden;
    padding-bottom: 10px;
  }

  #blog .button {
    margin-right: 10%

  }

  /*
  ==========================================================================
        10. CONTACT - Alle elementen die bij de CONTACT section horen.
  ========================================================================== */

  #contact .flex-container div {
    margin: 20px;
    width: 320px;
  }

  #contact .flex-container img {
    width: 300px;
    display: block;
    border-radius: 50%;
  }

  #contact .flex-container div:nth-child(2) {
    margin-top: 50px;
  }

  #contact .flex-container div:nth-child(4) {
    margin-top: 50px;
  }

  /* footer logo */

  footer img {
    top: 0;
    left: 0;
    width: 40px;
    margin: 20px;
    position: absolute;

  }

  /* Blog pagina */

  #blogPagina h1 {
    margin: 120px 0 20px 0;
    font-size: 3rem;
  }

  #blogPagina h2 {
    width: 100vw;
    margin-top: 50px;
    font-size: 1.5rem;
  }

  #article {
    text-align: center;
    padding: 0;
    margin: 0;
    height: auto;
  }

  #article img {
    width: 80%;
  }

  #article h2 {
    text-align: left;
    padding: 15px 0 5px 0;
    color: $color-orange;
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  #article p {
    width: 90vw;
    display: block;
    padding: 15px;
    text-align: left;
    font-size: 1.5rem;
    margin: 0 auto;
  }

  #article ul li {
    display: inline-block;
    padding-left: 5px;
    margin-top: 10px;
    text-align: left;
    font-size: 1.2rem;
  }

  #article ul li a {
    color: grey;
  }

  #article ul li a:hover {
    color: $color-orange;
    text-decoration: none;
  }

  #article ul:last-child {
    border-bottom: 0px solid black;
    border-top: 0px solid black;
    width: 90%;
    display: block;
    padding: 5px 0;
    margin: 0 auto;
  }
  #article ul:nth-child(1) {
    border-bottom: 1px solid black;
    width: 90%;
    display: block;
    padding: 5px 0;
    margin: 0 auto;
  }

  #aside p {
    width: 60vw;
    display: block;
    margin: 0 auto;
    padding: 15px;
    text-align: left;
    font-size: 1.5rem;
  }

}

/* Desktop */

@media only screen and (min-width: 1100px) {

  /* ==========================================================================
			4. NAVIGATIE - Alle elementen die bij de navigatie horen.
========================================================================== */

  .nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
    margin: 27px 15px 15px 15px;
    text-align: left;
  }

  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }

  .logo {
    width: 150px;
    margin: 15px;
    float: left;
  }

  .nav-collapse a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    background: #fff;
    padding: 1.2rem 1.5em;
    width: 100%;
    font-size: 1.5rem;
    border-top: 0;
    margin: 0;
    color: $color-blue;
  }

  .nav-collapse a:active,
  .nav-collapse .active a {
    border-bottom: 3px solid $color-orange;
    font-size: 1.5rem;
  }

  .nav-collapse a:hover {
    border-bottom: 3px solid $color-orange;
  }

  #home {
    float: none;
  }

  header {
    margin: 0;
  }

  .heroimage {
    background-image: url("/images/heroimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    background-size: contain;
    height: 500px;
    background-color: #BAD7E6;
  }

  /* ==========================================================================
       6. ABOUT - Alle elementen die bij de ABOUT section horen.
  ========================================================================== */

  #about .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  #about .flex-container div {
    width: 170px;
    display: block;
    margin: 20px;
  }

  #about .flex-container div div {
    width: auto;
    display: block;
    margin: 20px;
  }

  #about .flex-container img {
    display: block;
    width: auto;
  }

  #about .flex-container div div h3 {
    display: block;
    margin: 10px;
    width: auto;
    font-size: 1.5rem;
    text-align: center;
  }

  /* ==========================================================================
          8. CLIENTS - Alle elementen die bij de CLIENTS section hoort.
  ========================================================================== */

  #client h1 {
    font-size: 2.3rem;
  }

  #clients h2 {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
  }

  #clients p {
    padding-bottom: 30px;
    width: 500px;
    margin: 0 auto;
    text-align: left;
  }

  #clients img {
    padding: 30px;
    width: 350px;
    height: auto;
  }

  .line {
    border-bottom: 1px solid black;
    width: 400px;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  /* ==========================================================================
         9. BLOG - Alle elementen die bij de BLOG section horen.
  ========================================================================== */

  #blog .flex-container .card {
    width: 25vw;
    height: auto;
    overflow-x: hidden;
    padding-bottom: 10px;
  }

  /*
  ==========================================================================
      10. CONTACT - Alle elementen die bij de CONTACT section horen.
  ========================================================================== */

  #contact {
    position: relative;
  }

  #contact .flex-container div img {
    display: block;
    border-radius: 50%;
    margin-left: 60px;
    width: 100%;
    position: absolute;
  }

  #contact .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  #contact .flex-container div {
    margin: 20px;
    width: 20vw;
    position: relative;
    margin-left: -40px;
  }

  #contact .flex-container div:nth-child(2) {
    margin: 20px;
    width: 12vw;
    margin-left: -70px;
  }

  #contact .flex-container div:nth-child(4) {
    margin: 20px;
    width: 10vw;
    margin-left: -90px;
  }

  #contact ul {
    margin-top: 40%;
  }

  #contact .flex-container #dries {
    margin-left: 150px;
  }

  #contact .flex-container #elena {
    margin-left: 100px;
  }

  #line {
    display: block;
    margin: 30px 0;
    width: 1px;
    position: absolute;
    height: 70%;
    background: white;
    top: 15%;
    left: 50%;
  }

  /* Blogpagina */

  #blogPagina h1 {
    margin: 120px 0 20px 0;
    font-size: 4rem;
  }

  #article {
    text-align: center;
    padding: 0;
    margin: 0 50px 0 30px;
    height: auto;
    width: 70vw;
    float: left;
  }

  #article ul:last-child {
    border-bottom: 0px solid black;
    border-top: 0px solid black;
    width: 30%;
    display: block;
    padding: 5px 0;
    margin: 0 auto;
  }

  #article ul:nth-child(1) {
    border-bottom: 1px solid black;
    width: 30%;
    display: block;
    padding: 5px 0;
    margin: 0 auto;
  }

  #article p {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: left;
  }

  #article h2 {
    text-align: center;
    padding: 15px 0 5px 0;
    color: $color-orange;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  #aside {
    width: 20vw;
    float: left;
    margin-top: 15%;
    margin-left: 10px;
    margin-right: 10px;
  }

  #aside p {
    width: 100%;
  }

}
